<!DOCTYPE html>
<html>
<head>
	<title>Passport</title>
</head>
<body>
	<% if (!isAuthenticated) { %>
		<a href="/login">Log in failed. Try again!</a>
	
	<% } else { %>
		Hello, <%= user.name %>
	<% } %>
</body>
</html>

