<!DOCTYPE html>
<html>
<head>
	<title>Passport</title>
</head>
<body>

	<% if (!isAuthenticated) { %>
		<a href="/login">Log in here Not Authenticated</a>
	
	<% } else { %>
		Hello, <%= user.name %>
	<% } %>
	
	
	<form action="/login" method="post">
		<input type="text" name="pinnumber" placeholder="Pin Number"><br />
		<input type="submit" value="Log In" >
	</form>
</body>
</html>