<!DOCTYPE html>
<html>
<head>
	<title>Passport</title>
</head>
<body>


	
<form action="/totp" method="post">
	<div>
	<label>Code:</label>
	<input type="text" name="code"/><br/>
	</div>
	<div>
	<input type="submit" value="Submit"/>
	</div>
</form>
</body>
</html>





